/* Estilo geral da página*/
body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: aliceblue;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

/*Título principal*/
h1 {
    color: hsl(0, 96%, 78%);
    display: flex;
    justify-content: center;
}